<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.name %>:</strong>
          <%= raw(comment.comment) %>
        </p>
      </div>
    </div>
    <div class="options" style="margin: 5px;">
      <%= link_to 'Delete', [comment.post, comment],
                   method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Edit', '#' %>
    </div>
  </article>
</div>
