h1 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 70px;
  font-size: 10px;
}
h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}
.content-div {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
.new-post-button {
  width: 200px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  left: 64px;
  padding: 2px;
  margin: 10px;
  text-align: center;
  background-color: #ffb3ff;
  font-family: fantasy;
  border: 4px solid #f6a2b3;
}
.post-title {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.created_at, .read-more {
  padding: 10px;
  margin: 5px;
}
.container {

  width: 1000px;
  position: relative;
  left: 2px;
}
.post-container {
  border: 5px solid lightblue;
  padding: 10px;
}
.post-content, .post-comments-count {
  padding: 10px;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
}
